alias gpoh="git push origin HEAD"
alias ff="find . -name"
alias refresh="source ~/.profile"
alias vim="nvim"
alias rvim="/usr/local/bin/vim"
alias bhfetch="$PHB_HOME/projects/bhapi/bin/fetch"
alias bhload="$PHB_HOME/projects/bhapi/bin/load"
